/* To make color changes, change the variables in both the userChrome AND userContent files */

:root{
/* NORMAL BROWSING COLORS */
	--95grey:#c9c9c9;
	--home-bground:#E5E5E5;
	--3d-darkest:#0a0a0a;
	--3d-dark:#808080;
	--3d-light:#dfdfdf;
	--3d-lightest:#ffffff;
	--urlbar-bg:#ffffff;
	--button-colour:#0a0a0a;
	
/* Defines the 3d effect in normal browsing. */
	--95convex:inset -1px -1px var(--3d-darkest),inset 1px 1px var(--3d-lightest),inset -2px -2px var(--3d-dark),inset 2px 2px var(--3d-light);
	--95concave:inset -1px -1px var(--3d-lightest),inset 1px 1px var(--3d-dark),inset -2px -2px var(--3d-light),inset 2px 2px var(--3d-darkest);


/* PRIVATE BROWSING COLORS */
	--pb95grey:#c9c9c9;
	--pb-home-bground:#E5E5E5;
	--pb-3d-darkest:#0a0a0a;
	--pb-3d-dark:#808080;
	--pb-3d-light:#dfdfdf;
	--pb-3d-lightest:#ffffff;
	--pb-urlbar-bg:#ffffff;
	--pb-button-colour:#000000;

/* Defines the 3d effect in private browsing. */
	--pb-95convex:inset -1px -1px var(--pb-3d-darkest),inset 1px 1px var(--pb-3d-lightest),inset -2px -2px var(--pb-3d-dark),inset 2px 2px var(--pb-3d-light);
	--pb-95concave:inset -1px -1px var(--pb-3d-lightest),inset 1px 1px var(--pb-3d-dark),inset -2px -2px var(--pb-3d-light),inset 2px 2px var(--pb-3d-darkest);
  
  /* REMOVES BORDERS FROM BUTTONS (RETRO) */
	--urlbar-icon-border-radius: 0px !important;
	--button-background-color-ghost-active: #aaaaab;
  /* REDUCED HEIGHT (RETRO) */
	--tab-min-height: 16px !important;
}


.tabbrowser-tab[label^="New Tab"] .tab-icon-image {
     content: url("ff-std-alt.svg") !important;
}
.tabbrowser-tab{
    padding: 0 1px 0 1px !important;
}

#nav-bar:not([tabs-hidden="true"]) {
    box-shadow: 0px -1px 0px 0px grey !important;
}
.browser-toolbar{
    background-color: var(--95grey) !important;
}
.tab-background[selected]{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-image: none !important;

    /* The core of the new effect: a perfect checkerboard */
    background-color: #ffffff !important;
    background-image: repeating-conic-gradient(
        #c0c0c0 0% 25%,
        #ffffff 0% 50%
    ) !important;
    /* Sets the size of each repeating checkerboard square to 2px */
    background-size: 2px 2px !important;
}
.tab-background[selected] > .tab-text {
    font-weight: bold !important;
}

.tab-background{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 4px 4px 0 0 !important;
    margin: 0px !important;
    margin-top: 4px !important;
}
#TabsToolbar-customization-target {
  height: 36px !important;
}
.tab-content{
    color: var(--button-colour) !important;
    margin-top: 4px !important;
}
#TabsToolbar .toolbarbutton-1 {
  align-self: end !important;
}
#TabsToolbar .tabs-newtab-button:hover {
    border-radius:0 !important;
}
.tabs-newtab-button:hover .toolbarbutton-icon {
   border-radius:0 !important;
}
#urlbar-background{
    background-color:var(--urlbar-bg) !important;
    outline: none !important;
    border:none !important;
    border-radius: 0px !important;
    box-shadow: var(--95concave) !important;
}
#urlbar {
    background-color:var(--urlbar-bg) !important;
    outline: none !important;
    border:none !important;
    border-radius: 0px !important;
    box-shadow: var(--95concave) !important;
}
#searchbar{
    background-color:var(--urlbar-bg) !important;
    outline: none !important;
    border:none !important;
    border-radius: 0px !important;
    box-shadow: var(--95concave) !important;
}
.toolbarbutton-1{
    border-radius: 0px !important;
    color: #0a0a0a !important;
    fill: var(--button-colour) !important;
}
.toolbarbutton-icon{
    border-radius: 0px !important;
}
.toolbarbutton-1 > .toolbarbutton-icon, toolbar .toolbarbutton-1 > .toolbarbutton-text, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack{
    border-radius: 0px !important; 
}
.toolbarbutton-1:hover{
    border-radius: 0px !important;
}
.toolbar-items{
    background-color: var(--95grey) !important;
}
.PanelUI-subView{
    background-color: var(--95grey) !important;
    box-shadow: var(--95convex) !important;
   /* color: black; */
}
.cui-widget-panel, .panel-no-padding{
    --panel-border-radius: 0px !important;
}

.autoscroller {
  background-image: size_all.png !important;
}


/*
 * SOME RETRO CHANGES
 */

/*
 * Removes the built-in window control buttons from the tab bar
 * and lets the system's native window controls take over.
 */
#TabsToolbar > .titlebar-buttonbox-container {
  display: -moz-box !important;
  visibility: hidden !important;
  -moz-box-ordinal-group: 1 !important;
  position: fixed !important;
  right: 0px !important;
  top: 0px !important;
}

/*
 * Removes border radius from some buttons. 
 */
#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none !important;
}
.bookmark-item {
  border-radius: unset !important;
}
.tab-close-button {
  border-radius: unset !important;
}
menupopup, panel {
  --menuitem-border-radius: 0px !important;
  --panel-border-radius: 0px !important;
}
menulist {
  border-radius: unset !important;
}
button {
  border-radius: 0px !important;
}
.subviewbutton {
  &:not([disabled]):hover {
    background-color: #aaaaab !important;
    border-radius: unset !important;
  }
}
.dialogBox {
  &:not(.spotlightBox) {
    border-radius: 0px !important;
  }
}
#navigator-toolbox {
	margin: 1px !important;
	border: 1px solid #ffffff !important;
	outline: 1px solid #868686 !important;
}
#toolbar-menubar {
	border-bottom: 1px solid #868686 !important;
}
#TabsToolbar {
	border-top: 1px solid #ffffff !important;
	border-bottom: 1px solid #868686 !important;
} 
#nav-bar {
	border-top: 1px solid #ffffff !important;
	--border-bottom: 1px solid #868686 !important;
}
#PersonalToolbar {
	--border-top: 1px solid #ffffff !important;
}

#TabsToolbar toolbarbutton {
	margin: 2px !important;
	width: 32px !important;
  	height: 32px !important;
}
#TabsToolbar toolbarbutton:hover {
	background-color: var(--toolbarbutton-hover-background) !important;
	image {
		background-color: transparent !important;
	}
}
#TabsToolbar toolbarbutton:hover stack {
  	background-color: transparent !important;
}
#TabsToolbar toolbarbutton image:hover {
	background-color: transparent !important;
}
